html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

.bg-wrap {
    z-index: -5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    /** royalty free image from https://pixabay.com/de/photos/tromso-norwegen-skandinavien-reisen-4991531/ **/
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
}
